<!--<form ng-submit="$ctrl.submitCode()">-->
    <!--<textarea ng-model="$ctrl.code.codeBlock" class="codemirror-textarea" ></textarea>-->
    <!--<button>Submit</button>-->
<!--</form>-->

<form ng-submit='$ctrl.submitCode()'>
    <div>
        <label for="codeBlock">Code Block</label>
        <textarea ng-model='codeBlock' id="codeBlock" class="codemirror-textarea form-control"></textarea>
    </div>

    <div>
        <button ng-click="$ctrl.testcode">
            Test Code
        </button>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">
            Submit Code
        </button>
    </div>
</form>